<div class="widget-container-col width-100">
    <div class="widget-box">
        <div class="widget-header">
            <h5 class="widget-title">Veri Grupla</h5>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="1 ace-icon fa fa-chevron-up bigger-125"></i>
                </a>
            </div>

            <div class="widget-toolbar no-border">
                <button class="btn btn-xs btn-light bigger">
                    <i class="ace-icon fa fa-cogs"></i>
                </button>
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main">
                <div class="row">

                </div>
            </div>
            <div class="widget-toolbox padding-8 clearfix">
                <button class="btn btn-xs btn-danger pull-left">
                    <i class="ace-icon fa fa-times"></i>
                    <span class="bigger-110">İptal</span>
                </button>

                <button class="btn btn-xs btn-success pull-right" (click)="TamamTiklandi()">
                    <span class="bigger-110">Tamam</span>
                </button>
            </div>
        </div>
    </div>
</div>

