<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" stdoutLogEnabled="false" startupTimeLimit="3600"/>

    <rewrite>
      <rules>
        <rule name="Main Rule" stopProcessing="true">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            <add input="{REQUEST_URI}" matchType="Pattern" pattern="[_0-9a-zA-Z-]+\.ada$" negate="true"/>
            <add input="{REQUEST_URI}" matchType="Pattern" pattern="[_0-9a-zA-Z-]+\.iam$" negate="true"/>
            <add input="{REQUEST_URI}" pattern="signalr/*" negate="true" />
            <add input="{REQUEST_URI}" pattern="YuklenenDosyalar/*" negate="true" />
            <add input="{REQUEST_URI}" pattern="scripts/*" negate="true" />
            <add input="{REQUEST_URI}" pattern="GeciciDosyalar/*" negate="true" />
            <add input="{REQUEST_URI}" pattern="Eklentiler/*" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" logRewrittenUrl="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
